rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
    }

    match /projects/{projectId} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /tickets/{ticketId} {
      allow read, create: if request.auth != null;
      allow update, delete: if false;
    }
  }
}
